// -------------------------version desktop -------------------------------
@media (min-width :1024px) {
  .header {
    position: fixed !important;
     z-index: none;
     background-color: rgba(255, 255, 255, 0.863);
     
     
     padding-top: 1.45rem;
     &-toggle {
       display: none;
       
     }
     &-img {
       margin:1.51rem !important;
       width: 12em !important;
       margin-bottom: 1.6rem !important;
     }
    
  }
}

// ---------------------------------------------------------------------//


.header{
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  transform: translateX(0%);
  transition: transform 0.8s;

  &-toggle {
  max-width: 50%;
  font-size: 2rem;
  padding: 1rem;
  margin-bottom: 1em;
  color: black;
  cursor: pointer;
  }

  
  &-img{
  margin: 1em;
  width: 12em;
  height: auto;
  }

  &--open {
    transform: translateX(82%);
  }
}
