body {
  
  background-color: #fff ;

}

.form {
  
  padding: 3px;
  background-color: #fff ;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  
  &-title{
    text-align: center;
    color: grey;
  
    padding : 0.5rem
  }
  &-button{
    margin-left: 5rem;
    margin: 70px;
    border-radius: 10px;
    color: white;
    &-input{
      background-color: red
    }
    
  }
  &-infos{
    width: 100%;
    padding-top: 15px;
    display: flex;
    flex-direction: column;

  }
  &-t{
    
    margin-top: 1em;
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 1em;
    
   
  }
  &-invider{
    border-bottom: 1px solid #e9ebed;
      display: block;
      width: 100%;
      margin-left: 10px;
      margin-right: 10px;
  }

  &-input {
    margin-top: .5em;
    border: none;
    background-color: #e9ebed;
    padding: .3em;
    margin : auto;
    
    cursor: pointer;
    &::placeholder{
      font-style: oblique;
      color:#EBE7E4  ;
    }
  }
  

}




