@import 'src/styles/index';
@import 'src/styles/vars';

.information {
  text-align: left;
  margin: 0 10em;

  &-part {
    margin: 5em 0;
    display: flex;
    flex-wrap: wrap;

    &-left {
      padding-right: 10em;
      width: 50%;
    }

    &-right {
      width: 50%;
    }

    &-title {
      font-size: 1.5em;
      text-align: left;
      border-bottom: 1px solid #ccc;
      padding-bottom: 1em;
    }

    &-text {
      text-align: justify;
      margin-top: 1em;
      letter-spacing: 0.5px;
      font-size: 1.1em;
      color: #5E6472;
    }

    &-item {
      list-style: none;
    }

    &-subtitle {
      font-size: 1.2em;
      margin: 2em 0 1em 0;
    }
  }
}
