@keyframes error {
  0%, 100% {
    opacity: .4;
  }
  50% {
    opacity: 1;
  }
}

@media (max-width : 500px) {
  .product-category-page {
    margin-bottom: 5em;
  }  
}

@media (min-width : 500px) {
  .product-category-page {
    margin-bottom: 15em;
    transform: translate(10px, 120px);
  }
}

.product-event {
  // display: flex;
  // justify-content: space-around;
  margin: 2em auto;
}

.product-article{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


  // display:flex;
  // flex-direction: column;
  
.label {
  display: flex;
  flex-direction: column;

  &-item {
    border: none;
    margin : 1em;
    padding: 0.1em 1em;
    box-shadow: 0px 2px 10px lightgray;
    border-radius: 30px;  
  }

  &-select {
    border: none;
    margin : 1em;
    padding: 0.1em 1em;
    box-shadow: 0px 2px 10px lightgray;
    border-radius: 30px;  
  }
}

.loading-error {
  color: red;
  animation: error 1s infinite;
  text-align: center;
}
