.product-event {
  display: flex;
  justify-content: space-around;
  margin: 1em auto;
}

.product-article{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.label {
  display:flex;
  flex-direction: column;
}
