@import 'src/styles/vars';

.liens {
  background-color: $burger;
  width: 70%;
  position: fixed;
  height: 200vh;
  transform: translateX(-100%);
  transition: transform 0.8s;
  
  
    &--open {
      transform: translateX(0%);
    }
  z-index: 1;
    &-items {
    display: flex;
    flex-direction: column;
    margin:2rem;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    
    }
    &-title{
    color:#Fff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2em;
    }
    &-inputs{
    margin-top : 1em;
    }
    &--input{
    margin: auto;
    width: 80%;
    border: none;
    padding : 5px;
    }
    &--label{
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    padding-top: 1em;
    
   

    &, span {
      margin-left: 2.4em;
      text-align: center;
      margin-bottom: 10px;
    }

    
    }
    &--items{
    margin-top: 1em;
    
    }

}



  .item {
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: bold;
  &:hover{
    color: $navbar-hover;
  }
  &:link {
    text-decoration: none;
  }
  padding: 10px;
 
  &--input{
  border: none;
  margin-top: 0.5em;
  padding : 5px;
  
  
  }
  &--title{
  margin:10px;
  display: flex;
  flex-direction: column;
  }
  
  }

  .search {
    margin-left: 2.4em;
    text-align: center;
    margin-bottom: 10px;
  }

  
  

