@import 'src/styles/vars';

.container-menu {
  background-color: $burger;
  padding: 10px;
  background-image: url('../../assets/images/bright-squares.png');
}
.liens {
  
  // width: 70%;
  background-color: rgba(255, 255, 255, 0.863);
  
  position: fixed;
  height: 200vh;
  transform: translateX(-100%);
  transition: transform 0.8s;
  
  
    &--open {
      transform: translateX(0%);
      border: 1px double $burger;
    }
  z-index: 1;
    &-items {
    display: flex;
    flex-direction: column;
    margin:2rem;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    
    }
    &-title{
    color:#Fff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 20px;
    }
    &-inputs{
    margin-top : 1em;
    }
    &--input{
    border: 2px solid #f8f8ff;
    margin: auto;
    width: 80%;
    // border: none;
    padding : 5px;
    &:hover {
      border: 2px solid $general-button-opacity;
    }
    }
    &--label{
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    padding-top: 0em;
    
   

    &, span {
      // margin-left: 2.4em;
      text-align: center;
      margin-bottom: 20px;
      margin-top : 1em;
    }

    
    }
    &--items{
    margin-top: 1em;
    
    }

}



  .item {
  margin-bottom: 10px;
  margin-top: 30px;
  
  &:hover{
    color: $navbar-hover;
    
  }
  &:link {
    text-decoration: none;
  }
  padding: 10px;
 
  &--input{
  border: none;
  margin-top: 0.5em;
  padding : 5px;
  border: 2px solid #f8f8ff;
    &:hover{
      border: 2px solid $general-button-opacity;
    }
  }
  &--title{
  margin:10px;
  display: flex;
  flex-direction: column;
  }
  
  }

  .search {
    // margin-left: 2.4em;
    text-align: center;
    margin-bottom: 10px;
  }

  
  

