.carousel-item {
  position: relative;
}

.carousel-caption {
  padding: 1em;
  bottom: 100px;
  left: 550px;
  background-color: rgba(180, 180, 180, 0.5);
  border-radius: 10px;
  height: 6em;
  width: 20em;
}

.h3-responsive {
  font-size: 1.2em;
}
