.carousel-item {
  position: relative;
}

.carousel-caption {
  position: absolute;
  padding: 1em;
  bottom: 300px;
  left: 1400px;
  // background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  font-family: 'Darker Grotesque', sans-serif;
  // height: 6em;
  width: 20em;
}

.h3-responsive {
  // background-color: rgba(180, 180, 180, 0.5);
  // border-radius: 10px;
  font-size: 2em;
}
