// --------------------------------------------------------------
// ----------------------- MOBILE VERSION -----------------------
// --------------------------------------------------------------

@media (max-width : 400px) {
  .update-product {
    width: 90%;
    margin: auto;

    &--form {
      margin-bottom: 2em;
    }
  }
}

// ---------------------------------------------------------------
// ------------------------ TABLET VERSION -----------------------
// ---------------------------------------------------------------

@media (min-width: 400px) and (max-width : 1024px) {
  .update-product {
    width: 80%;
    margin: auto;

    &--form {
      margin-bottom: 2em;
    }
  }
}

// ---------------------------------------------------------------
// ----------------------- DESKTOP VERSION -----------------------
// ---------------------------------------------------------------

@media (min-width : 1024px) {
  .update-product {
    transform: translate(0, 140px);
    width: 70%;
    margin: auto;

    &--form {
      margin-bottom: 6em;
    }
  }
}

// ---------------------------------------------------------------
// --------------------------- GENERAL ---------------------------
// ---------------------------------------------------------------

.update-product {
  font-weight: 300;
  
  &--title {
    margin-top: 1em;
    text-align: center;
    font-size: 1.5em;
    border-bottom: 1px solid #e9ebed;     
    padding-bottom: 1em;
  }

  &--input {
    margin-top: 0.5em;
    border: none;
    background-color: #e9ebed;
    padding: 0.3em;
  }
  
  &-submit {
    margin: 1.5em;
    text-align: center;
  
    &--input {
      box-shadow: 3px 3px 0px #ccc;
      border: none;
      background-color: #f0693d;
      color: #fff;
      padding: 1em;
    }
  }
  
  &,label {
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
  }
  
  &--select {
    margin-top: 0.5em;
    font-weight: 300;
    border: none;
    background-color: #e9ebed;
    padding: 0.3em;
  }
}
  