@import 'src/styles/vars';

// --------------------------------------------------------------
// ----------------------- MOBILE VERSION -----------------------
// --------------------------------------------------------------

@media (max-width : 500px) {
  .comment {
    width: 90%;
    margin: 0 auto 3em auto;
  
    &-formtitle {
      font-weight: 700;
      color: #5e6472;
      width: 100%;
      text-align: center;
      margin-bottom: 1em;
      font-size: 1.5em;
    }
  
    &-button {
      text-align: center;
      margin-bottom: 1em;
    }
  
    &-form {
      margin: auto;
      width: 100%;
      border-bottom: solid 1px rgba(177, 177, 177, 0.582);
  
      &--textarea {
        border: none;
        padding: 0.8em;
        width: 100%;
      }
  
      &--submit {
        text-align: center;
        border: none;
        margin: 1em 0 1em 70%;
        padding: 0.8em;
        width: 30%;
      }
    }
  
    &-name {
      font-weight: bold;
      margin: .5em;
    }

    &-user{
      display: flex;
      padding: 0.2em;
    }

    &-avatar{
      width: 15%;
    }
  
    &-content {
      border: none;
      padding: 0.8em;
      margin-left: 1.5em;
      // width: 80%;
    }
  }
}

// ---------------------------------------------------------------
// ----------------------- DESKTOP VERSION -----------------------
// ---------------------------------------------------------------

@media (min-width : 500px) {
  .comment {
    width: 50%;
    margin: 0 auto 15em auto;
  
    &-formtitle {
      font-weight: 700;
      color: #5e6472;
      width: 100%;
      text-align: center;
      margin-bottom: 1em;
      font-size: 1.5em;
    }
  
    &-button {
      text-align: center;
      margin-bottom: 1em;
    }
  
    &-form {
      margin: auto;
      width: 100%;
      border-bottom: solid 1px rgba(177, 177, 177, 0.582);
  
      &--textarea {
        border: none;
        padding: 0.8em;
        width: 75%;

      }
  
      &--submit {
        border: none;
        margin-left: 2em;
        padding: 0.8em;
        width: 15%;

      }
    }
  
    &-name {
      font-weight: bold;
      margin: 1em 0em 0em 0.5em;;
    }

    &-user{
      display: flex;
      padding: 0.2em;
      margin-top: .4em;
    }

    &-avatar{
      width: 8%;
    }
  
    &-content {
      border: none;
      padding: 0.8em;
      // width: 80%;
    }
  }
}
