@import 'src/styles/vars';


.header {
  
  &-background {
  border-bottom: solid 2px #e9ebed;
  height: 20vh;
  display: flex;
  margin-top: -4em;
  padding-bottom: 12em;
  };

  &-avatar{
    text-align: left;
    padding: 1em;
    position: relative;
  }

  &-informations{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 1.5em;
    &-ul {
      font-size: 1em;
      margin-bottom: 1em;

      &,li {
        margin: 0.5em auto 0.5em 0em;
      }
    }

    &-fullname {
      font-weight: bold;
    }

    & > Button:active {
      background-color: #faf3dd;

    }
  }
}

.card {
  
  &-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.title-user-page {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  margin: 1em auto 0.5em auto;
}

.avatar-add {
  font-size: 2em;
  font-weight: bold;
  color: $general-button;
  position: absolute;
  top: 90px;
  left: 80px
}
