
@import 'src/styles/vars';

// --------------------------------------------------------------
// ----------------------- MOBILE VERSION -----------------------
// --------------------------------------------------------------

@media (max-width : 500px) {
  .user-informations {
    transform: translate(10px, 1px);
  }

  .productlist-title {
    text-align: center;
    font-size: x-large;
    margin: 1em auto;
    padding-top: 1em;
    border-top: 1px solid #e9ebed;
  }

  .user-avatar-add {
    font-size: 2em;
    font-weight: bold;
    color: $general-button;
    position: absolute;
    top: 90px;
    left: 80px;
    position: relative;
    top: -50px;
    left: 140px;
    width: 18%;
  }

  .productlist {
    margin-bottom: 5em;
  }
}
// ---------------------------------------------------------------
// ----------------------- DESKTOP VERSION -----------------------
// ---------------------------------------------------------------

@media (min-width : 1024px) {

  .userinfos-informations{
    &-ul{
      font-size: 1.2em !important;
    }
    &-fullname{
      margin: 1rem;
    }
    &-number{
      margin:1rem;
    }
  }
  
  
  .userpage {
    width: 80%;
    margin: 0 auto 10em auto;
    display: flex;
    flex-wrap: flex;
  }
.product-article{
 width: 60%;

}
.productlist-article{
  width: 80%;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  
}

  

  .productlist {
    width: 100%;
   


    &-title {
      text-align: center;
      font-size: 2rem;
      margin: 4em auto 1em auto;
      padding-bottom: 1.6rem;
      padding-top: 2rem;
      background-color: #2F4F4F;
      width: 80%;
      color: whitesmoke;
      
      box-shadow: 0px 2px 10px lightgray;
      

    

      
    }
  }
  .user-informations {
    transform: translate(10px, 120px);
    width: 30%;
    box-shadow: 0px 2px 1px lightgray;
    
  }

  .image-large{
    width: 68%;
    height: 191px;
  }

  .user-avatar-add {
    font-size: 2em;
    font-weight: bold;
    color: $general-button;
    position: absolute;
    top: 90px;
    left: 80px;
    position: relative;
    top: -50px;
    left: 130px;
    width: 18%;
  }
}

// ---------------------------------------------------------------
// --------------------------- GENERAL ---------------------------
// ---------------------------------------------------------------

.user {
  &-profil {
    width: 100%;
  }

  &-informations {
    border-right: solid 2px #e9ebed;
  };

  &-title {
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 2rem;
    font-family: 'Comic Neue', cursive;
    background-color: #2F4F4F;
    color: white;
 
  }

  &-avatar {
    text-align: center;
    position: relative;
  }
}

.userinfos {
  &-informations{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1em auto;

    &-ul {
      font-size: 1em;
      margin-bottom: 1em;
      text-align: center;

    }

    &-fullname {
      font-weight: bold;
    }
    &-number{
      font-weight: bold;
    }

    & > Button:active {
      background-color: #faf3dd;
    }
  }
}

.user-avatar {
  margin-top: 2rem;
  &-button {
  color: $general-button;
  font-size: 0.7em;
  }


  &-upload {
    opacity: 0.0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height:50%;
  }

  &-send {
    font-size: small;
  }
}

.adduserinfos{
  &--input{
    box-shadow: 0px 2px 8px whitesmoke;
   padding: 5px;
  }
  &--button {
    background-color: $general-button-opacity;
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 20%;
    color: white;
    margin-top: 1rem;
    border: 1px solid white;
  }
}

.productlist {

  &-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 1em;
  }
  &-title{
    font-family: 'Comic Neue', cursive;
    width: 80%;
  }
}

.icon-edit{
  padding: 0.2em;
  font-size: 1.2em;
}
