// General
$general-button: #F0693D;
$general-background: #FFF;
$general-text: #000;
$general-button-opacity : #EEAC80;

// Navbar
$navbar-background: #FFF;
$navbar-text: #000;
$navbar-hover: #F0693D;
$burger: #6D7F87;

// Footer
$footer-background: #5E6472;
$footer-background2 : #6D7F87;

// Category | Sports
$ski: #98C1D9;
$water: #3D5A80;
$horse: #0F7173;
$fight: #33415C;
$motor: #0A3D62;

// Category | Events
$wedding : #F8EDEB;
$parties : #6D214F;
$disguise : #9A031E;
$bachelor : #FFDA79;
$burial : #CAD3C8;

// Category | Accessories
$leather: #F7F1E3;
$hat: #AAA69D;
$jewelry: #D1CCC0;
$watch: #84817A;
$bag: #78290F;

