// --------------------------------------------------------------
// ----------------------- MOBILE VERSION -----------------------
// --------------------------------------------------------------



// ---------------------------------------------------------------
// ----------------------- DESKTOP VERSION -----------------------
// ---------------------------------------------------------------

.card {
  box-shadow: 2px 5px 12px #ccc;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 23em;
  width: 15em;
  justify-content: space-between;

  &-header {
    display: flex;
    background-color: #fff;

    &-icon {
      display: flex;
      justify-content: space-between;
      width: 30%;

      &--update {
        border: none;
        margin: 0;
        padding: 0;
        color: black;
      }

      &--delete {
        border: none;
        margin: 0;
        padding: 0;
        color: black;
      }
    }

    &-disponibility {
      width: 50%;
      color: green;  
    }

    &-price {
      transform: translate(-3px, 3px);
      width: 70%;
      font-size: 1.5em;
    }
  }

  &-body {
    width: 100%;

    &-image {
      width: 100%;
      height: 11em;
      object-fit: cover;
    }
  }

  &-footernone {
    margin: none;
    padding: .75rem 1.25rem;

    &--buttondescrip {
      transform: translate(-4px, -28px);
    }
  }
}
