.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  height: 15em;
  width: 15em;
  margin: 1.5em;
  background-image: url('https://img5.onthesnow.com/image/sm/52/caract%C3%A9ristiques_dune_bonne_tenue_de_ski_1_521068.jpg');

  &-header {
    display: flex;
    padding: 1em 0;
    background-color: #fff;
    opacity: 0.6;

    &-disponibility {
      width: 50%;
      color: red;  
    }

    &-price {
      padding-right: 1em;
      text-align: right;
      width: 50%;
    }
  }

  &-footer {
    margin-top: 60%;
    padding: 1em 0;
    background-color: #fff;
    opacity: 0.6;
  }

}
