.card {
  margin-top: 3em;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  height: 21.5em;
  width: 15em;

  &-header {
    display: flex;
    padding: 1em 0;
    background-color: #fff;

    &-disponibility {
      width: 50%;
      color: red;  
    }

    &-price {
      padding-right: 1em;
      text-align: right;
      width: 50%;
    }
  }

  &-body {
    width: 100%;

    &-image {
      width: 100%;

    }
  }

  &-footer {
    padding: 1em 0;
    background-color: #fff;

    &-description {
      color: black;
    }
  }

}
